
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Courses</title>
    <head>
    <body>
    <p>Look at my courses this past semseter!</p>
    <p></p><p>COMS 3134: Data Structures in Java</p>
    <p>  Grade: P</p>
    <p>ELEN 1201: Intro to Electrical Eengineering</p>
    <p>  Grade: P</p>
    <p>ENGI 1006: Python (whoo!)</p>
    <p>  Grade: P</p>
    <p>ENGL 1010: University Writing</p>
    <p>  Grade: P</p>
    <p>PHYS 1602: Electricity and Magnetism</p>
    <p>  Grade: P</p>
    <p>COMS 3134: Data Structures in Java</p>
    <p>  Grade: P</p>
    <a href="/">Back to the mainpage</a>
    </body>
</html>

