
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Daniel Seligson Home</title>
    <head>
    <body>
    <p>Daniel Seligson!</p>
    <img src="/static/pic of me.jpg" alt="Daniel Seligson">
    <p>I am a rising sophomore in SEAS</p>
    <p>I intend to major in Computer Engineering</p>
    <a href="/1006">See what I did in python this semester!</a><p></p>
    <a href="/Courses">See what courses I took this past semester</a><p></p>
    <a href="http://yavnehcu.com/meet-the-leadership">Look at this website !</a><p></p>

    </body>
</html>

